.Scoreboard-Container {
    display: flex;
    border-radius: 0.63rem;
    background-color: var(--chakra-colors-chakra-subtle-bg);
    width: 15.6rem;
    border-color: #ff7f26;
    border-width: 0.2rem; 
    padding: 1.3rem 1.3rem;
    display: flex;
    flex-direction: column;
}

.score {
    position: relative;
    left: 1rem;
}

.score-head {
    font-size: x-large;
    font-weight: bold;
}
